# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/account/profile
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/account/profile
CLERK_ADMIN_USER_ID=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=bookings@nolafarms.co.ke

# App
NEXT_PUBLIC_SITE_URL=https://nolafarms.co.ke
ADMIN_NOTIFICATION_EMAIL=
