# clerk configuration (can include secrets)
/.clerk/
node_modules/

# Next.js build output
/.next/
/out/

# Logs
*.log

# Temporary files
*.tsbuildinfo
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env
.env
.env.local
.env.*.local

# Cache
/.npm-cache/
/.cache/
